<table>
    <tr>
        <th>"Щоб грошей в гаманці було не "як кіт наплакав", - пиши код!"</th>
    </tr>
    <tr>
        <td><%= "\u00A9"%> <%= $copyright_year %> <%= link_to "Svitlana Botiuk", "https://github.com/Botiuk" %> </td>        
    </tr>
</table> 