<table>
    <tr>
        <td style = "font-style: italic; color: darkslategray">"Щоб грошей в гаманці було не "як кіт наплакав" - пиши код!"</td>
    </tr>
    <tr>
        <td>© Svitlana Botiuk, 2023</td>        
    </tr>
</table> 