<div id="<%= dom_id category %>">
  <p>
    <strong>Назва:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Опис:</strong>
    <%= category.description %>
  </p>

  <p>
    <strong>Тип:</strong>
    <%= category.ctype %>
  </p>

</div>
