<h3>Редагування категорії</h3>

<div>
<button type="button"><%= link_to "Повернутись до переліку категорій", categories_path %></button>
<button type="button"><%= link_to "Повернутися до категорії", @category %></button>
</div>

<br>

<%= render "form", category: @category %>


