<% if @category.ctype == "outcome" %>
    <h3>Нова категорія витрат</h3>
<% else %>
    <h3>Нова категорія доходів</h3>
<% end %>

<div>
  <button type="button"><%= link_to "Повернутись до переліку категорій", categories_path %></button>
</div>

<br>

<%= render "form", category: @category %>

