<% if @category.ctype == "outcome" %>
    <h3>Нова категорія витрат</h3>
<% else %>
    <h3>Нова категорія доходів</h3>
<% end %>

<div class = "button_on_top">
  <%= link_to '<i class="bi bi-house-fill"></i> На головну'.html_safe, root_path %>
  <%= link_to '<i class="bi bi-list-columns-reverse"></i> Перелік категорій'.html_safe, categories_path %>
</div>

<%= render "form", category: @category %>
