<% if @category.ctype == "outcome" %>
    <h3>Нова категорія витрат</h3>
<% else %>
    <h3>Нова категорія доходів</h3>
<% end %>

<div class = "button_on_top">
  <%= link_to "Повернутись до переліку категорій", categories_path %>
</div>

<%= render "form", category: @category %>
