<% if @otype == "outcome" %>
    <h3>Загальна сума витрат</h3>
    <div class = "one_item_outcome">
<% else %>
    <h3>Загальна сума доходів</h3>
    <div class = "one_item_income">
<% end %>

    <h4>за період з <%= @start_date %> по <%= @end_date %></h4>
    <% if @category_id == "0" %>
        <h5>(по всіх категоріях)</h5>
    <% else %>
        <h5>(по категорії: "<%= @category_name %>")</h5>
    <% end %>
    <h3 style="font-weight: bold"><%= @period_sum %> грн</h3>
    
</div>