<h3>Редагування операції</h3>

<div class = "button_on_top">
    <%= link_to "Повернутись до журналу операцій", operations_path %>
    <%= link_to "Повернутися до операції", @operation %>
</div>

<%= render "form", operation: @operation %>
