<p style="color: green"><%= notice %></p>

<h1>Операції</h1>

<%= link_to "Додати нову операцію", new_operation_path %>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
    <p>
      <%= link_to "Детальніше", operation %>
    </p>
  <% end %>
</div>


