<% if @operation.otype == "outcome" %>
    <h3>Нова витрата</h3>
<% else %>
    <h3>Новий дохід</h3>
<% end %>

<div>
  <button type="button"><%= link_to "Повернутись до журналу операцій", operations_path %></button>
</div>

<br>
<%= render "form", operation: @operation %>



